*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 20px;
}
.first{
    background-color: gray;
    color: white;
    /* text-align: center; */
    height: 250px;
    width: 50%;
    margin: 10px;
    font-size: 100px;
}
.second{
    background-color: rgb(211, 127, 200);
    color: white;
    /* text-align: center; */
    height: 50%;
    width: 50%;
    font-size: 2rem;
}
.vw{
   background-color: aqua;
   height: 40vh;
   width: 50vw;
   text-align: center;
   justify-content: center;
   padding-top: 40px; 
   margin: 10px 10px;
   font-size: 50px;
}