h1{
    font-weight: bold;
    text-align: center;
    font-size: 50PX;
}
.container{
    height: 240px;
    width: 540px;
    border: 2px solid black;
    background-color: palevioletred;
    margin: 150px;
    margin-left: 400px;

}
.box{
    width: 220px;
    height: 220px;
    margin: 5px;
}
.box1{
    background-color: blue;
    float: left;
}
.box2{
    background-color: red;
    float: right;
}

