body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;

}
.box1{
    background-color: aqua;
    order: 3;
    animation: colorChange 2s infinite;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.box2{
    background-color: brown;
    order: 1;
    animation: colorChange 2s infinite;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;
    height: 100px;
    width: 100px;
    animation-delay: 1s;
    animation-direction: alternate;

}